<form [formGroup]="updateFrom" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>
      <!-- Validation messages -->
      <div *ngIf="updateFrom.get('title')?.hasError('required')" class="error-text">Title is required</div>
      <div *ngIf="updateFrom.get('title')?.hasError('minlength') || updateFrom.get('title')?.hasError('maxlength')" class="error-text">Title must be 4 to 16 characters long</div>
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" id="author" formControlName="author" required>
      <!-- Validation messages -->
      <div *ngIf="updateFrom.get('author')?.hasError('required')" class="error-text">Author is required</div>
      <div *ngIf="updateFrom.get('author')?.hasError('minlength') || updateFrom.get('author')?.hasError('maxlength')" class="error-text">Author must be 4 to 12 characters long</div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" required></textarea>
      <!-- Validation messages -->
      <div *ngIf="updateFrom.get('description')?.hasError('required')" class="error-text">Description is required</div>
    </div>
    <div class="form-group">
      <label for="publicationYear">Publication Year:</label>
      <input type="number" id="publicationYear" formControlName="publicationYear" required>
      <!-- Validation messages -->
      <div *ngIf="updateFrom.get('publicationYear')?.hasError('required')" class="error-text">Publication Year is required</div>
      <div *ngIf="updateFrom.get('publicationYear')?.hasError('pattern')" class="error-text">Publication year must be a 4-digit number</div>
    </div>
    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" formControlName="isbn" required [disabled]="true">
      <!-- Validation messages -->
      <div *ngIf="updateFrom.get('isbn')?.hasError('required')" class="error-text">ISBN is required</div>
      <div *ngIf="updateFrom.get('isbn')?.hasError('pattern')" class="error-text">ISBN must be a 13-digit number</div>
    </div>
  
    <button type="submit" [disabled]="updateFrom.invalid">Update Book</button>
  </form>
  
  
